.doginfo-container {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr; 
    gap: 20px; 
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
    text-align: center;
}

/* For mobile, stack components vertically */
.picture-section, .owner-section, .bottom-section {
    width: 100%;
}
.owner-section{
    margin-top: 10px;
    padding-left: 90px;
}

@media (min-width: 768px) { 
    .doginfo-container {
        grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "picture owner"
            "allinfos allinfos"; 
    }

    .top-section {
        display: contents; 
    }

    .picture-section {
        grid-area: picture; 
    }

    .owner-section {
        grid-area: owner; 
    }

    .bottom-section {
        grid-area: allinfos; 
    }
}



