* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* This can help if scrollbars are causing the issue */
}
.chat_view{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.left_side_chat{
    width: 30%;
}
.right_side_chat{
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.chat_name_user{
    border: 1px solid black;
}

.texto_area{
    border: 1px solid black;
}
.input_message{
    border: 1px solid black;
}