body{
    margin-top: 100px;
    margin-left: 50px;
    margin-left: 50px;
}
.user_name{
    font-size: 35px;
    font-weight: bold;
}
.user_mail, .user_tel, .user_location, .user_dogs{
    text-align: left;
    font-size: 20px;
}